:root {
  font-family: Helvetica, Arial, sans-serif;
  --tile-width: 60px;
  --tile-height: 60px;
  --tile-incorrect-color: #3a3a3c;
  --tile-text-color: #fff;
  --tile-correct-color: #538d4e;
  --tile-incorrect-position-color: #b59f3b
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121312; 
  color: #fff;
}

h1{
  margin-bottom: 1rem;
  color: var(--tile-text-color);
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_container{

}

.gameboard{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single_row{
  display: flex;
  gap: 5px;
}

.tile{
  width: var(--tile-width);
  height: var(--tile-height);
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--tile-text-color);
}

.tile_incorrect{
  background-color: var(--tile-incorrect-color);
  color: var(--tile-text-color);
}

.tile_incorrect_position{
  background-color: var(--tile-incorrect-position-color);
  color: var(--tile-text-color);
}

.tile_correct{
  background-color: var(--tile-correct-color);
  color: var(--tile-text-color);
}

.winning_text{
  margin-top: 2rem;
  font-size: 2rem;
  background-color: var(--tile-correct-color);
  color: #fff;
  padding: 1rem 0;
  border-radius: 10px;
}

.losing_text{
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: var(--tile-incorrect-position-color);
  color: #fff;
  padding: 1rem 0;
  border-radius: 10px;
}

.losing_text span{
  font-weight: bold;
}

.incorrect_word{
  background-color: var(--tile-text-color);
  color: var(--tile-incorrect-color);
  font-weight: bold;
  width: max-content;
  padding: 0.5rem  1rem;
  border-radius: 10px;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}